#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgb(46, 177, 200);
    

}

#header a{
    display:  inline-block;
    margin: 0 9px;
    text-decoration:solid;
    font-family: sans-serif;
    color: white;
}




