#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: lightgray;

}

#header a {
    display:  inline-block;
    margin: 0 5px;
}